body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eef2f3;
  color: #333; /* Dark gray text */
  margin: 0;
  padding: 20px;
}

#app {
  text-align: center;
}

h1 {
  margin-bottom: 1em;
  color: #2c3e50; /* Deep blue */
}
